body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    position: relative;

    width: 200px;
    height: 300px;
    border-radius: 50%;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 900px;
    border-bottom-left-radius: 900px;

    background-color: rgb(255, 206, 166);
    box-shadow: 0 10px 20px 0 #000;
}

.circle .eye {
    position: relative;
    top: 60px;
}

.circle .eye .iris {
    padding: 0;
    margin: 0;
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgb(107, 74, 30);
    background-color: rgb(107, 74, 30);

    top: 20%;
    right: 25%;

    width: 20px;
    height: 20px;

}

.circle .eye .eye-left .eyelash {
    position: absolute;

    border: 1px solid #000;
    background-color: #000;

    top: -15px;

    width: 50px;
    height: 5px;
}

.circle .eye .eye-right .eyelash {
    position: absolute;

    border: 1px solid #000;
    background-color: #000;

    top: -15px;

    width: 50px;
    height: 5px;
}

.circle .eye .eye-left {
    position: absolute;
    top: 50px;
    left: 20px;
    bottom: 0;

    border: 2px solid rgb(255, 255, 255);
    background-color: #fff;
    height: 30px;
    width: 50px;

    border-top-left-radius: 150px;
    border-top-right-radius: 180px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 10px;
}

.circle .eye .eye-right {
    position: absolute;
    top: 50px;
    right: 20px;
    bottom: 0;

    border: 2px solid rgb(255, 255, 255);
    background-color: #fff;
    height: 30px;
    width: 50px;

    border-top-left-radius: 150px;
    border-top-right-radius: 180px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 80px;
}

.nose {
    position: relative;

    border: 1px solid rgb(250, 163, 93);
    border-radius: 20px;
    background-color: rgb(252, 190, 140);

    width: 30px;
    height: 30px;

    top: 50%;
    left: 40%;
}

.mouth {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 200px;
}

.mouth .up {
    border: 2px solid rgb(233, 138, 126);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    height: 15px;
    width: 85px;

}

.mouth .down {
    border: 2px solid rgb(233, 138, 126);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    height: 15px;
    width: 80px;

}